@media (max-width: 992px) {
  .navbar {
    gap: 10px;
  }
  .cart-icon {
    height: 33px;
    margin-right: 0;
    margin-top: 4px;
  }
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: gray;
    border: 2px solid black;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .navbar-list a {
    font-size: 18px;
  }
  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }
  .menu-label i {
    height: 20px;
    width: 25px;
  }
  #menu-toggle:checked ~ .navbar-list {
    display: flex;
  }

  .hero-info {
    text-align: center;
    width: 90%;
    align-items: center;
  }
  .hero-info h1 {
    display: block; /*.~.*/
    width: 100%;
    font-size: 36px;
  }
  .hero-info h2 {
    display: block;
    width: 100%;
    font-size: 24px;
  }
  .hero-info p {
    max-width: 80%;
    font-size: 16px;
  }
  .button-contaianer {
    justify-content: center;
  }
  .hero-img {
    display: none;
  }
  #about {
    font-size: 15px;
  }
  #contacto {
    flex-direction: column;
    align-items: center;
  }
  .info-container {
    gap: 50px;
  }
  .info-container h2 {
    text-align: center;
  }
  .main {
    width: 100vw;
  }
  /*-----------------------------------------------------------------------------------------------*/
}
/*.......................................................576........................................*/

@media (max-width: 576px) {
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }
  .cart-item {
    flex-wrap: wrap;
  }
  .navbar ul {
    background-color: white;
    width: 100%;
    height: calc(100vh - 65px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
  }

  /*.......icono*/
  .navbar i {
    display: block;
  }
  #menu-toggle:checked ~ .navbar-list {
    transform: translateX(0%);
    transition: all 0.4s ease-in;
  }
  #Hero {
    display: flex;
    gap: 3%;
  }
  .hero-info h1 {
    min-width: 256px;
    font-size: 36px;
  }
  .hero-info h2 {
    min-width: 256px;
    font-size: 24px;
  }
  .hero-info p {
    max-width: 90%;
  }
  .contact-info-container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .info-column {
    align-items: center;
  }
  iframe {
    height: 200px;
    width: 200px;
  }
  .main {
    width: 100vw;
  }
}

@media (max-width: 480px) {
  #hero {
    max-width: 600px;
  }
}

/*-------------------------------------------------------------*/
@media (max-width: 320px) {
  /*#Hero {
    max-width: 20rem;
  }*/
  .hero-info {
    width: 100%;
    padding: 10%;
  }
  .hero-info h1 {
    min-width: 250px;
  }
  .hero-info h2 {
    min-width: 250px;
  }
  .hero-info p {
    max-width: 70%;
  }
}
